body {
  height: 90vh;
  width: 90vw;
  margin-top: 40px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

/* .secondBackground{
  background-color: rgba(0, 5, 0, 0.486);
  height: 550px;
  padding-top: 30px;
  width: 1100px;
  margin: 0 auto;
} */

header {
  width: 75vw;
  height: 75vh;
  /* background-color: rgba(255, 255, 255, 0.3);   */
  /* background-image: linear-gradient(to right, #ffe259, #ffa751, 0.4); */
  margin: auto;
  padding-top: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.weatherInfo {
  display: flex;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.7rem;
  font-weight: bold;
  font-family: "Francois One", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.locationInput {
  text-align: center;
  width: 300px;
  height: 46px;
  border: 0px;
  border-radius: 30px;
  background: white;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  font-size: 20px;
}

.submit {
  font-size: 25px;
  border: none;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

.submit:hover {
  font-size: 30px;
  border: none;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

.leftside {
  /* background-color: rgba(255, 255, 255, 0.6); */
  width: 20vw;
  height: 40vh;
  margin-left: 130px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Francois One", sans-serif;
  /* letter-spacing: 1px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin: 0 auto;
  margin-bottom: 10px;
}

.rightside {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  border-radius: 10px;
  width: 50vw;
  /* height: 17vh; */
  /* margin-left: 50px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 80px;
  height: 80px;
}

#weatherIcon{
  margin-top: 20px;
  margin-bottom: 20px;
}

p{
  color: white;
  font-family: "Francois One", sans-serif;
  font-size:25px;
}

.fiveDayForecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.rightside p{
  color: black;
  font-family: "Francois One", sans-serif;
  width: 40px;
  font-size: 1em;
  padding-top: 10px;
  /* text-align: center; */
}

/* .rightside div {
  display: flex;
  flex-direction: row;
 
} */

.rightside img{
  height: 60px;
  width: 60px;
}